* {
  margin: 0%;
  box-sizing: border-box;
}

.topheading h1 {
  padding: 1rem;
  background-color: #284b63;
  color: #d9d9d9;
}
.topheading {
  text-align: center;
}
.topline {
  border: solid 0.4px rgba(51, 48, 48, 0.37);
}

/* navsection  */
.navigation {
  background-color: #353535;
}

.navigation ul {
  list-style: none;
  padding: 15px;
}

.navigation li {
  display: inline-block;
}

.navigation a {
  color: #d9d9d9;
  padding: 15px;
  text-decoration: none;
}
.navigation a:hover {
  background-color: #b59e9e;
  color: #353535;
}

/* navsection  */

/* use padding to ul and anker tag not li >note important */

/* layout section */

.layout {
  /*  height: 100px; */
  overflow: hidden;
  border: 2px solid #353535;
  background-color: #d9d9d9;
  padding: 3rem;
  /* position: relative; */
}

.child {
  height: 400px;
  width: 50%;
  border: 2px solid #a35eae;
  float: left;
  padding: 1rem;
}

/* note: always give realtive to main parent div */
/* layout section */

/* image layout */
.child img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.footer_section {
  padding: 1rem;
  background-color: #284b63;
  color: aliceblue;
  text-align: center;
}

/* responsive aways at last. :note */
/* media query for resonsive */
@media (max-width: 600px) {
  .child {
    width: 100%;
    height: auto;
  }

  .navigation li {
    display: block;
    padding: 1rem;
  }
}
