* {
  margin: 0%;
  box-sizing: border-box;
}

header {
  padding: 0 16px 0 12px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  padding: 0.6rem;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
}

.left-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.left-nav ul {
  list-style: none;
  padding-right: 1rem;
}
.left-nav li {
  display: inline-block;
}
.left-nav a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  padding-right: 1.8rem;
  font-weight: bold;
}

/*right side nav  */

.right-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  /* padding-left: 8rem; */
}

.icons {
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
}

.icons i {
  padding: 0 0.8rem 1rem 0.8rem;
}

.right-links {
  display: flex;
  flex-direction: row;
}

.right-links a {
  text-decoration: none;
}

.button {
  padding: 0.8rem;
  border-radius: 45px;
  text-decoration: none;
}
.right-links li {
  list-style: none;
  padding: 0 0.5rem;
  text-align: center;
}
.right-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

.pink-btn {
  background-color: pink;
  color: rgb(0, 0, 0);
}
.green-btn {
  background-color: green;
}
.black-btn {
  background-color: rgb(21, 23, 21);
}

.yellow-btn {
  background-color: bisque;
  color: #000;
}

.sing {
  padding: 0.8rem 2.5rem;
  border-radius: 45px;
}
/*right side nav  */

/* /html */

.html-container {
  background-color: #282a35 !important ;
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 90px;
}

.html {
  text-align: center;
}

.html h1 {
  font-size: 5rem;
  padding-bottom: 1rem;
  color: rgb(255, 255, 255);
}

.html p {
  font-size: 1.7rem;
  color: #ffc0c7;
  font-weight: 800;
}

.input-html {
  margin: auto;
  max-width: 500px;
  display: block;
  position: relative;
  box-sizing: inherit;
  padding-top: 2rem;
}

.input-html input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #282a35;
  border-radius: 25px;
  float: left;
  width: 80%;
  padding-left: 25px;
  background: white;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  border-right: 1px solid #04aa6d;
  outline: 0;
}
.search-btn {
  border-radius: 25px;
  float: left;
  width: 20%;
  padding: 10px;
  background: #04aa6d;
  color: white;
  font-size: 17px;
  border: 1px solid #282a35;
  border-left: none;
  cursor: pointer;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.parent {
  padding-top: 5rem;
  text-align: center;
}
.parent a {
  padding: 1rem;
  color: white;
  font-size: 1.4rem;
}

/* /html */

/* html1 */

.html1 {
  background-color: #d9eee1;
  position: relative;
  margin-top: -4.5px;
}

.html1-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 4rem;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.6rem;
}

.left-container h1 {
  font-size: 4rem;
}
.left-container p {
  font-size: 1.8rem;
  font-weight: bold;
}
.left-container a {
  color: black;
  text-decoration: none;
}

.left-container a {
  padding: 0.9rem 3rem;
}

.left-container .green-btn {
  color: white;
}
.left-container .black-btn {
  color: white;
}

/* rigth containers */

.right-container {
  width: 500px;
  box-shadow: -2px 2px 20px rgb(135, 127, 127);
  background-color:#E7E9EB;
}

.right-container h1 {
  padding: 1rem;
}

/* rigth containers */

/* codes */

.code-container {
  width: 95%;
  background-color: white;
  padding: 1rem 1rem 4rem 1rem;
  border-left: 5px solid green;
}

.code {
  padding-left: 1.3rem;
}

.try {
  padding: 2rem 2rem;
}

.left-container .buttons{
  border-radius: 25px;
  
}


.try a{

  padding: 0.8 1.5rem;
  color: white;
}
/* codes */
/* html1 */
